@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&display=swap');

:root {
    --primary-color: rgb(0, 0, 0);
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    outline: 0;
}

body {
    background-image: linear-gradient(to right top, #000000, #3b3b3b, #777777, #b9b9b9, #ffffff);
    height: 100vh;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-container {
    font-family: Doto, sans-serif;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#title {
    font-size: 120px;
}

.clock {
    font-size: 150px;
    color: #ffffff;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items:center;
    padding: 5px;
}

.play:hover, .stop:hover, .reset:hover {
    font-size: 40px;
    color: white;
    background-color: black;
    border-radius: 10px;
    padding: 2px;
    margin: 10px;
    border: 2px solid rgb(117, 117, 117);
}

.play, .stop, .reset {
    max-width: 150px;
    width: 150px;
    min-width: 150px;

    max-height: 50px;
    min-height: 50px;
    height: 50px;

    font-size: 35px;
    color: white;
    background-color: black;
    border-radius: 10px;
    padding: 2px;
    margin: 10px;
}

.stoped {
    color: rgb(95, 22, 22);
    font-weight: bold;
}